.nav {
    display: flex;
    transition: transform 0.3s ease, opacity 0.2s ease;
    flex-direction: column;
    padding-top: 34px;
    font-family: $second-font;
    width: 68vw;
    z-index: 100;

    @include mobile {
        position: absolute;
        right: 0;
        top: 0;
        backdrop-filter: saturate(180%) blur(40px);
        min-height: 100vh;
        transform: translateX(100%);
        opacity: 0;
        max-width: 260px;

        &::before {
            background-color: #9797971e;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }

    @include tablet {
        height: auto;
        width: auto;
        margin: 0;
        background-color: #151923;
        padding: 0 46px;
    }

    @include laptop {
        position: relative;
        background-color: transparent;
        backdrop-filter: saturate(180%) blur(40px);
        padding-right: 7rem;
        padding-left: 5.5rem;

        &::before {
            background-color: #9797971e;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }

    @include desktop {
        padding-right: 10rem;
        padding-left: 7.5rem;
    }

    &--show {
        transform: translateX(0);
        opacity: 1;
    }

    &__icon-close {
        align-self: flex-end;
        width: 20px;
        margin-right: 26px;

        @include tablet {
            display: none;
        }
    }

    &__list {
        font-size: 16px;
        letter-spacing: 2.7px;
        font-weight: 200;
        text-transform: uppercase;
        margin-top: 70px;
        position: relative;

        @include tablet {
            margin: 0;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            letter-spacing: 2.36px;
            font-weight: 400;
            gap: 37px;
        }

        @include laptop {
            font-size: 16px;
            letter-spacing: 2.7px;
            gap: 50px;
        }
    }

    &__indicator {
        display: block;
        position: absolute;
        background-color: $white;
        transition: top 0.3s ease-in-out;

        @include mobile {
            right: 0;
            top: 0;
            width: 4px;
            height: 40px;
        }

        @include tablet {
            transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
            width: 36px;
            height: 3px;
            left: 0;
            bottom: 0;
        }
    }

    &__item {
        padding-left: 32px;
        margin-bottom: 40px;
        width: 100%;

        @include tablet {
            padding: 0;
            margin: 0;
            width: auto;
        }

        @include laptop {
            border-bottom: 3px solid transparent;
            transition: border-color 0.1s ease-in-out;

            &:hover {
                border-color: rgba(255, 255, 255, 0.5);
            }
        }
    }

    &__link {
        color: $white;
        width: 100%;
        display: block;

        @include mobile {
            padding: 10px 0;
        }

        @include tablet {
            width: auto;
            padding: 39px 0;
        }
    }

    &__number {
        font-weight: bold;

        @include tablet {
            display: none;
        }

        @include laptop {
            display: inline;
        }
    }
}