.nav {
    transform: translateX(100%);
    display: flex;
    transition: transform 0.3s ease, opacity 0.2s ease;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100vh;
    width: 68vw;
    backdrop-filter: saturate(180%) blur(40px);
    z-index: 100;
    opacity: 0;
    padding-top: 34px;
    font-family: $second-font;

    &::before {
        background-color: #9797971e;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    &--show {
        transform: translateX(0);
        opacity: 1;
    }

    &__icon-close {
        align-self: flex-end;
        width: 20px;
        margin-right: 26px;
    }

    &__list {
        font-size: 16px;
        letter-spacing: 2.7px;
        font-weight: 200;
        text-transform: uppercase;
        margin-top: 70px;
        position: relative;
    }

    &__indicator {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        background-color: $white;
        width: 4px;
        height: 40px;
        transition: top 0.3s ease-in-out;
    }

    &__item {
        padding-left: 32px;
        margin-bottom: 40px;
        width: 100%;
    }

    &__link {
        color: $white;
        width: 100%;
        display: block;
        padding: 10px 0;
    }

    &__number {
        font-weight: bold;
    }
}