@font-face {
    font-family: "Bellefair";
    src: url("../font/Bellefair-Regular.otf");
}

$main-font: 'Bellefair',
serif,
sans-serif;

$second-font: 'Barlow Condensed',
sans-serif;

$third-font: 'Barlow',
sans-serif;

.body-text {
    font-family: $third-font;
    line-height: 25px;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    color: $light-gray;
    margin: 0;

    @include tablet {
        font-size: 16px;
        line-height: 28px;
    }

    @include laptop {
        font-size: 18px;
        line-height: 32px;
        text-align: left;
    }
}

.heading-3 {
    font-family: $main-font;
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase;
    color: $white;
    margin-top: 12px;
    margin-bottom: 16px;

    @include tablet {
        font-size: 40px;
        font-weight: 200;
        margin-top: 16px;
    }

    @include laptop {
        font-size: 56px;
    }
}