.view {
    &__title {
        font-family: $second-font;
        font-size: 16px;
        letter-spacing: 2.7px;
        font-weight: 200;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0;
        color: $light-gray;
        margin-bottom: 35px;
    }

    &__number {
        font-weight: bold;
        color: $dark-gray;
    }
}