.crew {
    width: 87.2vw;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    &__image-container {
        position: relative;
        min-height: 220px;
        height: 31.26vh;
        width: 100%;
        border-bottom: 1px solid $dark-gray;
        display: flex;
        justify-content: center;

        @include tablet {
            border: none;
        }

        div {
            width: 80%;
            text-align: center;

            @include tablet {
                width: auto;
            }
        }
    }

    &__img {
        width: auto;
        height: calc(31.26vh - 1px);
        min-height: 219px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

        @include tablet {
            height: 52vh;
        }
    }

    &__content-container {
        position: relative;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;

        @include tablet {
            width: 59.64vw;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__nav {
        margin: 32px 0;

        @include tablet {
            margin: 40px 0;
        }
    }

    &__list {
        display: flex;
        gap: 16px;
        margin: 0 auto;
        width: auto;
        justify-content: center;
    }

    &__list-item {
        width: 10px;
        height: 10px;
        background-color: $dark-gray;
        border-radius: 50%;
        transition: background-color 0.2s ease;

        &--active {
            background-color: $white;
        }
    }

    &__role {
        text-transform: uppercase;
        font-family: $main-font;
        font-weight: 100;
        font-size: 16px;
        color: $gray;

        @include tablet {
            font-size: 24px;
            font-weight: 200
        }
    }
}