.destination {
    @include laptop {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8rem;

        &__info {
            width: 31vw;
        }
    }

    &__image-container {
        position: relative;
        height: 45.34vw;
        width: 100vw;
        display: flex;
        justify-content: center;

        @include tablet {
            height: 39vw;
        }

        @include laptop {
            height: 31vw;
            width: auto;
        }
    }

    &__img {
        width: 45.34vw;
        height: 45.34vw;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

        @include tablet {
            width: 39vw;
            height: 39vw;
        }

        @include laptop {
            width: 31vw;
            height: 31vw;
        }
    }

    &__content-container {
        position: relative;
        height: auto;
        display: flex;
        justify-content: center;
    }

    &__content {
        text-align: center;
        width: 87.2vw;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        @include tablet {
            width: 74.6vw;
        }

        @include laptop {
            width: 31vw;
            text-align: left;
        }
    }

    &__nav {
        margin: 30px 0;
        position: relative;

        @include tablet {
            margin-top: 53px;
            margin-bottom: 32px;
        }

        @include laptop {
            margin-bottom: 37px;
            margin-top: 0;
        }
    }

    &__list {
        display: flex;
        padding: 0;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        justify-content: center;
        gap: 26px;

        @include tablet {
            gap: 35px;
        }

        @include laptop {
            justify-content: flex-start;
            padding: 0;
        }
    }

    &__list-item {
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2.36px;
        color: $white;
        font-family: $second-font;
        font-weight: 200;
        cursor: pointer;
        padding: 14px 0;

        @include tablet {
            font-size: 16px;
            letter-spacing: 2.7px;
        }

        @include laptop {
            display: block;
            height: 100%;
            border-bottom: 3px solid transparent;
            transition: border-color 0.1s ease-in-out;

            &:hover {
                border-color: rgba(255, 255, 255, 0.5);
            }
        }

        &--active {
            color: $white;
            font-weight: 300;
        }
    }

    &__indicator {
        height: 3px;
        background-color: $white;
        width: 30px;
        position: absolute;
        transition: width 0.2s ease-in, left 0.2s ease-in;
        bottom: 0;

        @include laptop {
            left: 0;
        }
    }

    &__name {
        font-family: $main-font;
        font-size: 56px;
        text-transform: uppercase;
        font-weight: 150;
        margin: 0;

        @include tablet {
            font-size: 80px;
            font-weight: 200;
            margin-bottom: 8px;
        }

        @include laptop {
            font-size: 100px;
            margin-bottom: 14px;
        }
    }

    &__details {
        padding-bottom: 32px;
        border-bottom: 1px solid $dark-gray;
        margin-bottom: 32px;

        @include tablet {
            padding-bottom: 49px;
            margin-bottom: 28px;
        }

        @include laptop {
            padding-bottom: 54px;
        }
    }

    &__numbers {
        @include tablet {
            display: flex;
            justify-content: space-around;
        }

        @include laptop {
            justify-content: flex-start;
        }

        div {
            margin-bottom: 40px;

            @include laptop {
                margin-right: 3rem;
            }
        }

        h3 {
            font-size: 14px;
            letter-spacing: 2.36px;
            font-family: $second-font;
            text-transform: uppercase;
            font-weight: 200;
            color: $light-gray;

            @include tablet {
                margin-top: 0;
                margin-bottom: 12px;
            }
        }

        span {
            font-family: $main-font;
            font-size: 28px;
            color: $white;
            text-transform: uppercase;
            font-weight: 100;
        }
    }
}