.home {
    margin-top: 28px;

    @include tablet {
        margin-top: 106px;
        margin-left: auto;
        margin-right: auto;
        width: 58.6vw;
    }

    .view__title {
        margin: 0;
        text-align: center;
    }

    &__title {
        font-size: 80px;
        text-transform: uppercase;
        text-align: center;
        font-family: $main-font;
        margin-bottom: 25px;
        margin-top: 16px;
        color: $white;
        font-weight: 150;

        @include tablet {
            margin-top: 24px;
            font-size: 150px;
            line-height: 150px
        }
    }

    &__description {
        margin: 0 30px;

        @include tablet {
            margin: 0 3px;
        }
    }

    &__link {
        color: $black;
        margin-top: 81px;
        display: block;
        background-color: $white;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        text-align: center;
        line-height: 150px;
        font-family: $main-font;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        letter-spacing: 1.25px;

        @include tablet {
            margin-top: 156px;
            width: 242px;
            height: 242px;
            line-height: 242px;
            font-size: 32px;
            letter-spacing: 2px;
            font-size: 32px;
        }
    }
}