.technology {
    @include laptop {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex: 1;
    }

    &__info {
        @include laptop {
            display: flex;
            gap: 80px;
            align-items: center;
        }
    }

    &__image-container {
        position: relative;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;

        @include laptop {
            width: 35.7vw;
        }
    }

    &__img {
        width: 100vw;
        left: 0;
        right: 0;

        @include laptop {
            width: 35.7vw;
        }
    }

    &__content-container {
        position: relative;
        width: 87.2vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        justify-content: center;

        @include tablet {
            width: 59.7vw;
        }

        @include laptop {
            width: 33vw;

            .body-text {
                width: 93.5%;
            }
        }

        span {
            font-size: 14px;
            font-family: $second-font;
            color: $light-gray;
            letter-spacing: 2.36px;
            font-weight: 200;

            @include tablet {
                font-size: 16px;
                letter-spacing: 2.7px;
            }
        }
    }

    &__content {
        @include laptop {
            text-align: left;
        }
    }

    &__nav {
        margin-top: 34px;
        margin-bottom: 27px;

        @include tablet {
            margin-top: 56px;
            margin-bottom: 44px;
        }

        @include laptop {
            margin: 0;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin: 0;

        @include laptop {
            display: flex;
            flex-direction: column;
        }

        @include laptop {
            gap: 32px;
        }
    }

    &__list-item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid $dark-gray;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        font-family: $main-font;
        transition: background-color 0.2s ease-in;

        @include tablet {
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 24px;
        }

        @include laptop {
            width: 80px;
            height: 80px;
            line-height: 80px;
            font-size: 32px;
        }

        &--active {
            background-color: $white;
            color: $black;
        }
    }
}