.technology {
    &__image-container {
        position: relative;
        min-height: 170px;
        height: 24vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__img {
        width: 100%;
        min-height: 170px;
        height: 24vh;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    &__content-container {
        position: relative;
        width: 87.2vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        justify-content: center;

        span {
            font-size: 14px;
            font-family: $second-font;
            color: $light-gray;
            letter-spacing: 2.36px;
            font-weight: 200;
        }
    }

    &__nav {
        margin-top: 34px;
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    &__list-item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid $dark-gray;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        font-family: $main-font;
        transition: background-color 0.2s ease-in;

        &--active {
            background-color: $white;
            color: $black;
        }
    }
}