*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white
}

.body {
    &--home {
        @include set-background('home');
    }

    &--destination {
        @include set-background('destination');
    }

    &--crew {
        @include set-background('crew');
    }

    &--technology {
        @include set-background('technology');
    }
}