*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100vw;
    transition: background-image 0.2s ease-in;
    background-color: $black;
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none
}

ul {
    list-style: none;
    padding: 0;
}

.body {
    &--home {
        @include set-background('home');
    }

    &--destination {
        @include set-background('destination');
    }

    &--crew {
        @include set-background('crew');
    }

    &--technology {
        @include set-background('technology');
    }
}

.disable-selection {
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/

    user-select: none;
}

.fade-enter-from {
    opacity: 0;
    position: absolute;
}

.fade-enter-to {
    opacity: 1;
    position: relative;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-leave-from {
    opacity: 1;
    position: relative;
}

.fade-leave-to {
    opacity: 0;
    position: absolute;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}