*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}

a {
    text-decoration: none
}

.body {
    &--home {
        @include set-background('home');
    }

    &--destination {
        @include set-background('destination');
    }

    &--crew {
        @include set-background('crew');
    }

    &--technology {
        @include set-background('technology');
    }
}

.disable-selection {
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/

    user-select: none;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}